<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>XSS Angular Example</title>

	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>

	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/script.js"></script>
	<script src="/javascripts/one-input-two-buttons.js"></script>
	<script src="/javascripts/status-indicator-directives.js"></script>
	<script src="/javascripts/services/resize-and-scroll-service.js"></script>
</head>
<body ng-app="XSSAngularApp" ng-controller="MainCtrl" style="overflow: hidden;" class="ng-cloak">
	<div id="dummy-hacked-indicator"></div>
	<div id="dummy-size-indicator" class="hidden-xs"></div>
	<div class="container">
		<div class="flex-container flex-direction-row">
			<div id="main-title-header"><h1 style="font-size: 2.2em;">XSS Angular Example </h1></div>
			<div class="hidden-xs" style="font-size: 24px; padding-top: 19px; margin-left: 12px;">(for Angular version 1.2.16)</div>
		</div>

		<div style="height: 35px;">
   			<div style="display: inline-block; font-size: 16px; float: left; height: 100%; padding-top: 8px; margin-right: 24px;">
   				Status: 
   				<span ng-bind="sharedDynamicData.hacked ? 'Hacked' : 'Safe'" 
   							ng-style="{color: sharedDynamicData.hacked ? 'red' : 'green'}" style="font-weight: bold;"></span>
   			</div>
   			<div style="display: inline-block; font-size: 16px; float: left; height: 100%; padding-top: 8px;">
   				Message: 
   				<span ng-bind="sharedDynamicData.statusMessage" 
   							ng-style="{color: sharedDynamicData.isDangerous ? 'red' : 'green'}"></span>
   			</div>
	    	<button ng-disabled="!sharedDynamicData.hacked" style="display: inline-block; float: right;" 
	    					type="button" class="btn btn-danger" ng-mousedown="cleanDBPlusRefresh()">Clean DB and Remove Hack</button>
    </div>

	</div>
	<div id="documentation-container" style="padding-bottom: 100px; height: 100%; overflow-y: auto; overflow-x: auto;">
		<div class="container">
	    <div class="container">
		    <div ng-include="'/templates/introduction-template.ejs'"></div>
		    <div ng-include="'/server-templates/server-side-rendering-template.ejs'"></div>

		    <div ng-include="'/templates/angular-interpolation-template.ejs'"></div>
		    <div ng-include="'/templates/angular-binding-construction-template.ejs'"></div>
		    <div ng-include="'/templates/ng-include-without-interpolation-template.ejs'"></div>
		    <div ng-include="'/templates/ng-bind-html-user-input-template.ejs'"></div>
	    </div>
	    </div>
	</div>
</body>
</html>