<div id="angular-3">
    <h3>Ng-Bind-Html User Input <safe-circle></safe-circle></h3>

    <p style="margin-top: 12px;">The ng-bind-html directive does not call the $compile function so it is safe to include user input using any method. </p>
    <div style="font-size: 18px;">
		<code>$templateCache.put('htmlContentUrl', '&lt;div id=&quot;' + $scope.ngIncludeText + '&quot;&gt;&lt;/div&gt;'); </code><br/>
		<code>$scope.loadedDB = true; </code><br/> <br/>
		<code>// in the HTML (&lt;div ng-include=&quot;'htmlContentUrl'&quot; ng-if=&quot;loadedDB&quot;&gt;&lt;)</code>
	</div>
    <div class="compiled" ng-bind-html="ngBindHtmlFull" style="display: none;"></div>

    <one-input-two-buttons 
    	input-text-key="ngBindHtmlText" 
    	input-text-model="ngBindHtmlText"
			hack-input-text="hackSandBoxText"
			populate-button-label="Populate with Sandbox Escape Text"
			submit-button-label="Save"
			status-message="statusMessage"
			is-dangerous="isDangerous"
			is-safe="true"
			text-same-hack-label="Refresh page to see that the JS becomes string and is not executed"
			text-different-hack-label="Refresh page to see input stored"
			start-timer="startTimer()"></one-input-two-buttons>

    <div class="live" style="font-size: 18px;">
		<code>&lt;div ng-bind-html=&quot;ngBindHtmlFull&quot;&gt;&lt;/div&gt;</code><br/>
		<code class="tab-1">{{ngBindHtmlFull}}</code> <br/>
		<code>&lt;div&gt;&lt;/div&gt;</code>
	</div>
</div>