<div id="angular-2">
    <h3>Ng-Include User Input without Interpolation <danger-circle></danger-circle></h3>

    <p style="margin-top: 12px;">$compile is called for ng-include as seen below. Notice how it is concatenation (which does not protect) and not interpolation.</p>
    <div style="font-size: 18px;">
		<code>$templateCache.put('htmlContentUrl', '&lt;div id=&quot;' + $scope.ngIncludeText + '&quot;&gt;&lt;/div&gt;'); </code><br/>
		<code>$scope.loadedDB = true; </code><br/> <br/>
		<code>// in the HTML (&lt;div ng-include=&quot;'htmlContentUrl'&quot; ng-if=&quot;loadedDB&quot;&gt;&lt;)</code>
	</div>
    <div class="compiled" ng-include="'htmlContentUrl'" ng-if="loadedDB" onload="onNgIncludeComplete()" style="display: none;"></div>

    <one-input-two-buttons 
    	input-text-key="ngIncludeText" 
    	input-text-model="ngIncludeText"
		hack-input-text="hackSandBoxText"
		populate-button-label="Populate with Sandbox Escape Text"
		submit-button-label="Save"
		status-message="statusMessage"
		is-dangerous="isDangerous"
		text-same-hack-label="Refresh page to see the hacker's effect"
		text-different-hack-label="Refresh page to see input stored"
		start-timer="startTimer()"></one-input-two-buttons>

    <div class="live" style="font-size: 18px;">
		<code>&lt;div ng-include=&quot;'htmlContentUrl'&quot; ng-if=&quot;loadedDB&quot;&gt;</code><br/>
		<code class="tab-1">{{ngIncludeCompiled}}</code> <br/>
		<code>&lt;div&gt;&lt;/div&gt;</code>
	</div>
</div>