<div class="flex-container one-input-two-buttons">
    <input type="text" ng-model="inputTextModel">
    <button type="button" class="btn btn-default" ng-click="populateInputText()" ng-bind="populateButtonLabel"></button>
    <button type="button" class="btn btn-primary" ng-click="submitTextFields()" ng-bind="submitButtonLabel"></button>
</div>